{
    "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
                "@assets":"./src/app/assets",
                "@common":"./src/app/common",
                "@config":"./src/app/config",
                "@containers":"./src/app/containers",
                "@utils":"./src/app/utils",
                "@networking":"./src/app/utils/networking",
                "@navigation":"./src/app/navigation",
                "@themes":"./src/app/themes",
                "@store":"./src/app/store",
            }
          }
        ]
      ]
}